:root {
  --bs-dark: #ffffff;
  --bs-light: #000000;
}

.btn-primary,
.btn-secondary,
.bg-primary,
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: var(--bs-light) !important;
  background-color: var(--bs-dark) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: var(--bs-dark) !important;
  background-color: var(--bs-light) !important;
  border-color: var(--bs-light) !important;
}

.card{
  padding: 1.5em .5em .5em;
  border-radius: 2em !important;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

@media (max-width: 768px) {
  .container {
    padding: 0 !important;
  }
}
